{% extends "index.html" %}
{% block content %}
   <style>
    div.weather {
        max-width:300px;
        margin:auto;
        position:center;

    }
</style>


<div class="weather" id="openweathermap-widget-18"></div>
   <script>
       window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
       window.myWidgetParam.push({ id: 18, cityid: '2760134', appid: {{Weather_API_Key}}, units: 'metric', containerid: 'openweathermap-widget-18', });
    (function () {
        var script = document.createElement('script'); script.async = true; script.charset = "utf-8";
        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
        })();
    </script>
<h3 align="center">{{message}}</h3>

 <section>
        <iframe style="height:200px;width:300px; border: 0" img src={{google_maps_url}}> </iframe>   
    
        <iframe style="height:200px;width:300px; border: 0" img src={{streetview_url}}> </iframe>
 </section>
    
{% endblock %}