{% extends "template.html" %}
{% block content %}
 
   <style>

       div.image {
           max-width: 600px;
           max-height: 500px;
           margin: auto;
           box-sizing: border-box;
       }

    div.image img {
	width: 50%;
	height: 50%;
    }
   </style>   


   <h2>Homepage of Peterv748</h2>
   <iframe width="300"
           height="300"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDWU-FFeJRylxfOtCSjMsEr6cUOOX19RLk&q=Aalsmeer,Netherlands">
   </iframe>
   <iframe width="300"
           height="300"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDWU-FFeJRylxfOtCSjMsEr6cUOOX19RLk&location=52.2621639,4.7619222&heading=180" >
   </iframe>
   
    
   
   <p><a><small>Courtesy: peterv748</small></a></p>
   <p><a><small>Number of visitors: "{{visits}}"</small></a></p>
   <p><a><small>Hostname: "{{hostname}}"</small></a></p>
{% endblock %}