{% extends "index.html" %}
{% block content %}
<style>
    div.weather {
        max-width:300px;
        margin:auto;
        position:center;

    }
</style>


<h2 align="center">Homepage of Peterv748</h2>
<div class="weather" id="openweathermap-widget-18"></div>
   <script>
       window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
       window.myWidgetParam.push({ id: 18, cityid: '2760134', appid: '4a110614200ca76d4ed859addbc5fd00', units: 'metric', containerid: 'openweathermap-widget-18', });
    (function () {
        var script = document.createElement('script'); script.async = true; script.charset = "utf-8";
        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
        })();
    </script>
<h3 align="center">{{message}}</h3>
 

<iframe style="width:300px;height:300px; border:0"
        frameborder="0" 
        src={{google_maps_url}}>
</iframe>
<iframe style="width:300px;height:300px;border:0"
        frameborder="0"
        src={{streetview_url}}>
</iframe>


<p><a><small>Courtesy: peterv748</small></a></p>
<p><a><small>Number of visits: {{visits}}</small></a></p>
<p><a><small>Hostname: {{hostname}}</small></a></p>
{% endblock %}