{% extends "template.html" %}
{% block content %}

<style>
    div.news_headlines {
        max-width: 300px;
        margin: auto;
    }

    div.news_topic {
        max-width: 300px;
        margin: auto;  
    }
</style>
   
<h2>News of the day</h2>

   <h3><p> Headlines</p></h3>
   <div class="news_headlines"><p><a href={{url1}} style="color:white" target="_blank">{{line1}}</a></p></div>
   <div class="news_topic"><p><a href={{url2}} style="color:white" target="_blank">{{line2}}</a></p></div>
   <p><a><small>Courtesy: peterv748 and NEWSAPI.ORG and RTL Nieuws</small></a></p>
   <p><a><small>Number of visitors: "{{visits}}"</small></a></p>
   <p><a><small>Hostname: "{{hostname}}"</small></a></p>
{% endblock %}